/* Configurações Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilização do Container de Login */
#login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Espaçamento dos campos */
.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do input */
}

/* Estilo do Botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}